@import "tailwindcss";

@layer base {
  html {
    color-scheme: dark;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #030304;
    color: #e2e8f0;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }

  /* Strict Minimalist Dark Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #030304;
  }

  ::-webkit-scrollbar-thumb {
    background: #1c1d24;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #2e303d;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

